#Ignore dependencies
/requires

#Ignore generated Doxyfile
/docs/doxygen/Doxyfile

#Ignore html and xml build directorys
/docs/doxygen/html
/docs/doxygen/xml

#Ignore published documentation
/docs/published

#Ignore the sandbox directory
/sandbox

#Ignore object files
*.o

#Ignore test executables and output
*.debug
*.exe
*.out

#Ignore IDE files
*.sublime-project
*.sublime-workspace
